* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f4f4f4;
}

.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  background: linear-gradient(135deg, blue, skyblue, #302b63);
  color: white;
  padding: 0 8%;
  overflow: hidden;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}



.hero-text {
  max-width: 50%;
}

.small-text {
  font-size: 14px;
  opacity: 0.8;
  margin-bottom: 15px;
}

.hero-text h1 {
  font-size: 52px;
  line-height: 1.2;
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  gap: 15px;
}

.btn {
  padding: 12px 25px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s ease;
}

.primary {
  background: white;
  color: #302b63;
  font-weight: 600;
}

.secondary {
  background-color: blue;
  color: white;
  backdrop-filter: blur(10px);
}

.btn:hover {
  transform: translateY(-3px);
}



.hero-image {
  position: relative;
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}



.big-circle {
  position: absolute;
  width: 480px;
  height: 480px;
  background: radial-gradient(circle, rgba(255,255,255,0.25), transparent 70%);
  border-radius: 50%;
  right: 20px;
  z-index: 0;
}


.image-frame {
  position: relative;
  z-index: 1;
  padding: 25px;
  border-radius: 40px;
  background: rgba(255,255,255,0.08);
  backdrop-filter: blur(25px);
  box-shadow: 0 0 40px rgba(0,0,0,0.4);
}

.image-frame img {
  width: 260px;
  border-radius: 25px;
  display: block;
}



@media (max-width: 992px) {
  .container {
    flex-direction: column;
    text-align: center;
  }

  .hero-text {
    max-width: 100%;
    margin-bottom: 40px;
  }

  .hero-image {
    width: 100%;
  }

  .big-circle {
    width: 350px;
    height: 350px;
  }
}