body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
   width: 100vw;
   height: 100vh; 
   border: 2px solid black;
   display: flex;
   
}

.container_image{
    width: 100%;
    height:70%;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_image-text{
height: 100%;
width: 55%;
border: 2px solid blue;
}

.container_image-section{
    height: 100%;
    width: 45%;
    border: 2px solid green;

}
.container_text{
    height: 30%;
    width: 50%;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_text-input{
    height:100% ;
    width:50% ;
    border: 2px solid grey;
}
.container_text-value{
    height: 100%;
    width:50% ;
    border: 2px solid black;
    position: relative;
}
.container_text-values .values_section{
    height: 100%;
    width: 50%;
    border: 2px solid black;
    background-color:lightgrey;
    position: absolute;
    top: 30%;
    right: 0%;
}

