* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;                  
    justify-content: space-between; 
    align-items: center;
    padding: 20px 80px;
    background-color: palevioletred;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
}


.logo {
    font-size: 22px;
    font-weight: bold;
    color: black;
}


.nav-links {
    display: flex;      
    list-style: none;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #6c63ff;
}


.hero {
    height: 100vh;
    display: flex;                 
    justify-content: space-between; 
    align-items: center;           
    padding: 0 80px;
    background-color: #f4f4f4;
}


.hero-text {
    flex: 1;   
}

.hero-text h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

.hero-text h2 {
    font-size: 28px;
    margin-bottom: 15px;
    color: palevioletred;
}

.hero-text p {
    margin-bottom: 20px;
    font-size: 18px;
}

.hero-text button {
    padding: 12px 25px;
    border: none;
    background-color: palevioletred;
    color: black;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
}

.hero-text button:hover {
    background-color: #574fd6;

}
.hero-image{
    flex: 1;
    text-align: right;
}
.hero-image img{
    width: 300px;
    height: 300;
}
.about {
    display: flex;                  
    align-items: center;
    justify-content: space-between;
    padding: 80px;
    gap: 50px;
    background-color: #f4f4f4;
}


.about-image img {
    width: 200px;
    height: 200px;
    border-radius: 50px;
    object-fit: fully  cover ;
    
}


.about-text {
    flex: 1;
}

.about-text h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.about-text p {
    margin-bottom: 15px;
    color: black;
    line-height: 1.6;
}
.projects{
    padding: 50px;
}
.project-container{
    display: flex;
    justify-content: space-between;
    gap: 30px;

}
.project-card{
    width: 48%;
    background: #f4f4f4;
    padding: 15px;
    border-radius: 8px;
}
.project-image{
    width: 100px;
}

.feedbacks {
    padding: 80px;
    background-color: #f9f9f9;
    text-align: center;
}

.feedback-container {
    display: flex;          
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}

.feedback-card {
    background:palevioletred;
    padding: 25px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.feedback-card h4 {
    margin-top: 15px;
}

.feedback-card span {
    color: black;
    font-size: 14px;
}



.contact {
    padding: 60px;
    text-align: center;
}

.contact-info {
    margin-top: 20px;
    font-size: 18px;
}
footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px;
}
.project-card{
    display: grid;
    padding: 20px;
    gap:20px ;
}