* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.grid{
 grid-template-columns: repeat(4,1fr);
 gap: 24px;
 display: grid;
 height: 100vh;

  }
  .item1{

    background-color: brown;
    grid-column:1/3 ;
    grid-row:1/2 ;
    
  }
  .item2{
    
    background-color: blue;
    grid-row:2/3 ;
    grid-column:1/2 ;
    
  }
  .item3{
    
    background-color:green;
    grid-column:2/3 ;
    grid-row:2/3 ;
    
  }
