* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #dcebe4;
}


.hero {
    display: flex;
    justify-content: space-between;
    padding: 60px;
    background: white;
}

.hero-left {
    width: 45%;
}

.hero-left h1 {
    font-size: 42px;
    color: #0b1c2d;
    margin-bottom: 20px;
}

.hero-left span {
    font-weight: bold;
}

.hero-left p {
    color: #555;
    margin-bottom: 25px;
    line-height: 1.6;
}

.btn {
    padding: 12px 25px;
    border: none;
    background: linear-gradient(to right, #2a4bd7, #6a11cb);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.hero-right {
    width: 45%;
    display: flex;
    gap: 20px;
}

.hero-right img {
    width: 50%;
    height: 350px;
    object-fit: cover;
    border-radius: 8px;
}


.bottom-section {
    display: flex;
    justify-content: space-between;
    padding: 40px 60px;
    background: #dcebe4;
}

.email-box {
    width: 40%;
}

.email-box p {
    margin-bottom: 20px;
    color: #444;
}

.input-box {
    display: flex;
}

.input-box input {
    flex: 1;
    padding: 12px;
    border: none;
    outline: none;
}

.input-box button {
    width: 50px;
    background: green;
    color: white;
    border: none;
    cursor: pointer;
}


.stats {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.stat {
    background: white;
    padding: 25px 35px;
    text-align: center;
}

.stat h2 {
    font-size: 28px;
    margin-bottom: 5px;
}

.stat p {
    color: grey;
}

.stat.active {
    background: green;
    color: white;
}